.plan-card {
  padding: 1.4rem;
  width: 100%;
  position: relative;

  @include bp(md) {
    padding: 1.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.plan-item {

  @include bp(md) {
    display: flex;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;

    @include bp(md) {
      margin-bottom: 0;
    }
  }
}

.plan-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 0.5rem;

  @include bp(md) {
    margin-bottom: 1rem;
    flex-direction: row;
  }

  @include bp(lg) {
    margin: 1.2rem 0 1rem 0;
  }
}

.plan-thumb {
  order: -1;
  margin-bottom: 0.5rem;

  @include bp(md) {
    order: 1;
    margin-bottom: 0;
  }

  &__img {
    width: 40px;
    height: auto;

    @include bp(lg) {
      width: 60px;
    }
  }
}

.plan-body {
  display: none;

  @include bp(md) {
    display: block;
  }
}

.plan-footer {

  @include bp(md) {
    text-align: right;
    margin: 2rem 0 1rem 0;
  }
}

.card-tip {
  position: absolute;
  top: -1rem;
  left: 2rem;
  display: none;

  @include bp(lg) {
    display: block;
  }
}

.tip {
  background-color: $theme-accent;
  color: $white;
  font-size: 0.8rem;
  max-width: 320px;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  position: absolute;

  &::after {
    position: absolute;
    top: 0;
    left: 2rem;
    content: '';
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid $theme-accent;
    transform: translate(0, -8px);
  }
}
