body {
  font-family: $font-family;
}

body>.main {
  padding-top: 60px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 900;
}

h1,
.h1 {
  @include fonts(2rem, 2.4rem, 2.8rem, null, null);
}

h2,
.h2 {
  @include fonts(1.4rem, 1.6rem, 1.8rem, null, null);
}

h3,
.h3 {
  @include fonts(1.2rem, 1.4rem, 1.6rem, null, null);
}

h4,
.h4 {
  @include fonts(1rem, 1.1rem, 1.2rem, null, null);
}

a,
p {
  @include fonts (0.8rem, 0.9rem, 1rem, null, null);
}

.bold {
  font-weight: 900;
}

.text-primary {
  color: $text-primary;
}

.text-secondary {
  color: $text-secondary;
}

.text-tertiary {
  color: $text-tertiary;
}

.text-theme {
  color: $theme-primary;
}

.text-accent {
  color: $theme-accent;
}

.fnt-sm {
  font-size: 0.8rem;
}

a,
.link {
  color: $theme-primary;
  transition: all 0.3s;

  &:hover {
    text-decoration: none;
    color: darken($color: $theme-primary, $amount: 0.5)
  }
}

.bg-white-gray {
  background-color: $white-gray;
}

.section {
  padding: 3rem 0;

  @include bp(lg) {
    padding: 5rem 0;
  }
}
