footer.section.footer-main
  .container
    .row
      .col-lg-8
        .row
          .col-12.col-md-4.mb-4
            h4.footer-title Company
            .row
              .col-6
                ul.list.footer-list
                  li
                    a(href="javascript:void(0)") Home
                  li
                    a(href="javascript:void(0)") About
                  li
                    a(href="javascript:void(0)") Contact
                  li
                    a(href="javascript:void(0)") Contact
                  li
                    a(href="javascript:void(0)") Press
                  li
                    a(href="javascript:void(0)") Blog
              .col-6
                ul.list.footer-list
                  li
                    a(href="javascript:void(0)") Downloads
                  li
                    a(href="javascript:void(0)") FAQs
                  li
                    a(href="javascript:void(0)") Financials
                  li
                    a(href="javascript:void(0)") Careers
          .col-6.col-md-2.mb-4
            h4.footer-title Car
            ul.list.footer-list
              li
                a(href="javascript:void(0)") Overview
              li
                a(href="javascript:void(0)") Plans
              li
                a(href="javascript:void(0)") Claims
          .col-6.col-md-2.mb-4
            h4.footer-title Bike
            ul.list.footer-list
              li
                a(href="javascript:void(0)") Overview
              li
                a(href="javascript:void(0)") Plans
              li
                a(href="javascript:void(0)") Claims
          .col-6.col-md-2.mb-4
            h4.footer-title Travel
            ul.list.footer-list
              li
                a(href="javascript:void(0)") Overview
              li
                a(href="javascript:void(0)") Plans
              li
                a(href="javascript:void(0)") Claims
          .col-6.col-md-2.mb-4
            h4.footer-title Mobile
            ul.list.footer-list
              li
                a(href="javascript:void(0)") Overview
              li
                a(href="javascript:void(0)") Plans
              li
                a(href="javascript:void(0)") Claims
      .col-lg-4
        .footer-subscribe.bg-white-gray
          h4 Subscribe for regular updates
          p.py-2 Get the best tips and tricks about car, bike, mobile, and travel insurance. Sent twice a month. No spam, we promise.
          .search-box
            input.search-box__input(type="search" placeholder="Email address")
            button(type="button").search-box__button Subscribe
    .row
      .col-md-2.footer-logo
        a(href="javaascript:void(0)")
          img.footer-logo-img(src="./img/logo.svg", alt="footer logo")
      .col-md-10
        .row.mt-5.mt-md-4
          .col-md-6.footer-partner
            img.img-fluid.mr-3(src="./img/10.jpg", alt="")
            p.text-tertiary.fnt-sm.m-md-0 Backed by Fairfax Financial Holdings Ltd. with operations in over 30 countries
          .col-md-6.footer-partner
            img.img-fluid.mr-3(src="./img/11.jpg", alt="")
            p.text-tertiary.fnt-sm.m-md-0 Approved by the Insurance Regulatory and Development Authority of India (IRDAI)