mixin script(page_name)
  // Common scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
  script(src="js/plugins/jquery.min.js")
  script(src="js/plugins/semantic.min.js")