/* Variables*/


/* --------------------------------------------------*/


/* Media queries breakpoints*/


/* --------------------------------------------------*/


/* Medium screen / desktop*/

$xs: 320px;
$sm: 576px;
$md: 768px;
$mobile: 767px;
$lg: 992px;
$tablet: 991px;
$desktop: 1024px;
$xl: 1200px;
$sxl: 1600px;
$mxl: 1900px;

/* larger-screens */

$sxl-max: ($sxl - 1);

/** Extra large **/

$xl-max: ($xl - 1);

/* Large screen / wide desktop*/

$lg-max: ($lg - 1);

/* Medium screen / desktop*/

$md-max: ($md - 1);

/* Tiny screen / phone*/

$sm-max: ($sm - 1);

/*font-families */


/*=============================================
                  Font Family
=============================================*/

/* Title Font Family*/

$font-family: 'Muli',
sans-serif;

/*=============================================
=                COLORS NAME                  =
=============================================*/


$red : #ee2923;

$thick-black: #333333;

$gray: #666666;

$light-gray: #999999;

$yellow: #FFB121;

$green: #19b64f;

$white: #ffffff;
$black: #000000;
$white-gray: #fafafa;
$white-gray-dark: #f2f2f2;

/*=============================================
=               THEME COLORS                  =
=============================================*/
/**
 * To change theme color add a new color variable in above block
 * and replace with that color variable in theme colors section
 */

/* Theme colors*/

$theme-primary: #ffbb00;
$theme-primary-light: #f7c640;
$theme-accent: #51ad6a;

/* Text colors */
$text-primary: #000000;
$text-secondary: #333333;
$text-tertiary: #999999;

$border: rgba(0, 0, 0, 0.1);
$border-light: rgba(0, 0, 0, 0.06);
$border-dark: rgba(0, 0, 0, 0.2);

/* Navigation */
$header-bg: $white;
$nav-link: $text-primary;
$nav-link-hover: $theme-primary;
$menu-toggler-color: $text-primary;
$menu-bg: $white;
$submenu-bg: $white-gray;


/* Card */
$card-border: $border;
$card-border-radius: 4px;


/* Phone Damange */

$phone-damage-price-color: #c42d25;
