/* Variables*/


/* --------------------------------------------------*/


/* Media queries breakpoints*/


/* --------------------------------------------------*/


/* Medium screen / desktop*/

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$sxl: 1600px;
$mxl: 1900px;

/* larger-screens */

$sxl-max: ($sxl - 1);

/** Extra large **/

$xl-max: ($xl - 1);

/* Large screen / wide desktop*/

$lg-max: ($lg - 1);

/* Medium screen / desktop*/

$md-max: ($md - 1);

/* Tiny screen / phone*/

$sm-max: ($sm - 1);

/*font-families */


/*=============================================
                  Font Family
=============================================*/

/* Title Font Family*/


$b-regular: "Brown-Regular";
$b-bold: "Brown-Bold";


/*=============================================
=                COLORS NAME                  =
=============================================*/


$red : #ee2923;

$thick-black: rgba(0, 0, 0, .85);

$gray: rgba(0, 0, 0, .54);

$light-gray: #f3f5f7;

$yellow: #FFB121;

$green: #19b64f;

$white: #ffffff;



/*=============================================
=               THEME COLORS                  =
=============================================*/
/**
 * To change theme color add a new color variable in above block
 * and replace with that color variable in theme colors section
 */

/* Theme colors*/

$theme-primary: $red;
$theme-secondary: $gray;

/* Text colors */
$text-primary: #2D3438;
$text-secondary: #7E919A;

$icon: #B6C6CD;
