*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Brown-Regular';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	color: $gray;

	p {
		letter-spacing: 0.28px;
	}
}