// START: Plan section
section.section.section--faq
  .container
    .row
      .col-sm-12
        h4.h4 More Questions?
        .accordion
          include ./mixins/accordion-item.pug
          +accordion('What do you mean by drive plan?', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed.')
          
          +accordion('What do you mean by drive plan?', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed.')
          
          +accordion('What do you mean by drive plan?', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed.')
          
          +accordion('What do you mean by drive plan?', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed.')
          
          +accordion('What do you mean by drive plan?', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sequi placeat distinctio dolor, amet magnam voluptatibus eos ex vero, sunt veritatis esse. Nostrum voluptatum et repudiandae vel sed.')
        .mt-3
          a.link(href="javascript:void(0)") Read all FAQs
          