// START: Why Insurance
section.section
  .container
    .row
      .col-6.col-md-3
        a(href="javscript:void(0)").social-link
          img.social-icon(src="./img/icon-fb.svg", alt="")
          span Like us for regular updates
      .col-6.col-md-3
        a(href="javscript:void(0)").social-link
          img.social-icon(src="./img/icon-medium.svg", alt="")
          span Like us for regular updates
      .col-6.col-md-3
        a(href="javscript:void(0)").social-link
          img.social-icon(src="./img/icon-linkedin.svg", alt="")
          span Like us for regular updates
      .col-6.col-md-3
        a(href="javscript:void(0)").social-link
          img.social-icon(src="./img/icon-twitter.svg", alt="")
          span Like us for regular updates