.search-box {
  position: relative;

  &__input {
    width: 100%;
    padding: 0.7rem 6rem 0.7rem 0.8rem;
    border: 1px solid $border;
    border-radius: 4px;
    line-height: normal;
    -moz-outline-radius: 4px;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 0 2px $theme-accent;
      border-color: $theme-primary;
    }

  }

  &--large {
    .search-box__input {
      padding: 0.8rem 6rem 0.8rem 0.8rem;

      @include bp (md) {
        padding: 1rem 6rem 1rem 1rem;
      }

      @include bp (lg) {
        padding: 2rem 6rem 2rem 2rem;
      }
    }

    .search-box__button {
      @include bp (lg) {
        right: 2rem;
      }
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translate(0, -50%);
    border: 0;
    background-color: transparent;
    color: $theme-primary;
    cursor: pointer;

    &:focus {
      outline: none;
    }

  }
}

.search-suggestion {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    cursor: pointer;
    color: $theme-primary;
    margin-bottom: 0.4rem;

    &.selected {
      color: $text-secondary;
      font-weight: 600;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
