include section-plan.pug
include section-why-insurance.pug
include section-buy-insurance.pug
include ../../components/testimonial.pug
include ../../components/faq.pug
include ../../components/related-reading.pug
include ../../components/social.pug
