// START: Why Insurance
section.section.section--insurance
  .container
    .row
      .col-sm-12.col-md-6.offset-md-3.text-center
        h2.h2 Why your iPhone 7 needs insurance
        p.pb-md-4 You could end up damaging your phone any time, any where, and repairs aren't cheap. How much could it cost? Find out here.

        .phone.pt-4
          .phone-image
            img(src="./img/phone.png", alt="phone")
          ul.phone-damages
            li.phone-damage
              .phone-damage__name Touchscreen malfunction
              .phone-damage__cost Rs 6,448
            li.phone-damage
              .phone-damage__name Speaker failure
              .phone-damage__cost Rs 6,448
        p Check how much damage could cost

        form.phone-seach-form(action="")
          ul.search-suggestion
            li.seach-suggestion__item iPhone
            li.seach-suggestion__item.selected Google Pixel
            li.seach-suggestion__item One Plus 5
            li.seach-suggestion__item Samasung Galaxy 8
            li.seach-suggestion__item HTC Desire X
          .search-box
            input.search-box__input(type="search" placeholder="Search" value="Google Pixel")
            button(type="button").search-box__button Search
