// START: Why Insurance
section.section.bg-white-gray.section--order
  .container
    .row
      .col-sm-12.text-center
        h3.h3 Buy Digit Insurance while buying your phone on Amazon
        .mt-4
          a(href="javascript:void(0)").button.button-primary Order on Amazon