// START: Why Insurance
section.section.section--testimonial
  .container
    .row
      .col-sm-12
        h2.h2.mb-4 Our Customer love us. A lot.
        .row
          .col-sm-4
            include ../../components/mixins/testimonial-card.pug
            +testimonial-card('./img/testimonial/1.jpg', 'Juhi Pandey, 26', 'Car Insurance, Mumbai', 'We supply everything a holiday resort need, from website cms to online reservation system, in 1 day. Mollie allows our customers to 1 day too')

          .col-sm-4
            +testimonial-card('./img/testimonial/2.jpg', 'Juhi Pandey, 26', 'Car Insurance, Mumbai', 'We supply everything a holiday resort need, from website cms to online reservation system, in 1 day. Mollie allows our customers to 1 day too')
          
          .col-sm-4
            +testimonial-card('./img/testimonial/3.jpg', 'Juhi Pandey, 26', 'Car Insurance, Mumbai', 'We supply everything a holiday resort need, from website cms to online reservation system, in 1 day. Mollie allows our customers to 1 day too')